# DB credentials
POSTGRES_USER=todouser
POSTGRES_PASSWORD=todopass
POSTGRES_DB=todolist

# DB Connection
DATABASE_URL="postgresql://todouser:todopass@localhost:5432/todolist?schema=public"
DATABASE_EXTERNAL_PORT="5432"
# on prend schema=public pour récuperer les tables normales et classiques de postgre (public = endroit par défaut de stockage des tables)

# Server
PORT=3000
HOST=0.0.0.0

# JWT Secret (Generate with: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))")
JWT_SECRET=your-secret-super-secure-random-string-here

